.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
.build/
artifacts/
/logs
/mtmanapi64.dll
/mtmanapi.dll
/mtmanapi.rest/symbols.raw
/mtmanapi.rest/symgroups.raw
/mtmanapi.rest/logs
/samples/Cashback/appsettings.dev.json
/samples/mtmanapi.rest/appsettings.Development.json
/samples/Pumping/app.dev.json
/samples/**/*.dev.json
